body{
background-color: #1A3F52;
color: white;
}

header{
width:100%;
height: auto;
background:#1b2125;
}
.logo{
   width:20%;
 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
}
a{
    color: white;    
}
.nav a {
    display: none;
}

#m:checked ~a{
    display: block;
    color: 
    
}
#m {
    display: none;
}
li{
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    margin: auto;
    
}
h2{
    text-align: left;
}
